:focus-visible {
  outline-color: var(--inverted-color);
}

::selection {
  background: #ddddddee;
}

[aria-hidden="true"] {
  visibility: hidden;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
    background-color: #FFF;
    color: #000;

    * {
      background-color: #FFF !important;
      color: #000 !important;
    }    
  }

  
  
  .sr-only-focusable:focus-visible,
  .sr-only-focusable:active {
    clip: auto !important;
    -webkit-clip-path: none !important;
    clip-path: none !important;
    height: auto !important;
    margin: auto !important;
    overflow: visible !important;
    width: auto !important;
    white-space: normal !important;
  }

  @media (prefers-reduced-motion) {

    *,
    *::before,
    *::after {
      animation: none !important;
      transition: none !important;
    }
  
    body > footer {
      transform: translateY(0) !important;
      opacity: 1 !important;
    }

    ::view-transition-group(*),
    ::view-transition-old(*),
    ::view-transition-new(*) {
      animation: none !important;
    }    
  }
 
