@keyframes slideup {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slidedown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes pulsate {
    from {
      opacity: 0.8;
    }
  
    50% {
      opacity: 0.3;
    }
  
    to {
      opacity: 0.8;
    }
  }
  
  @keyframes ellipsis {
    to {
      width: 1em;
    }
  }
    